<div id="searchBar" class="searchBar">
    <form action="/search" method="post">
        <input type="text" id="srch-input" placeholder="Search in the site..." onfocus="this.placeholder=''"
            onblur="this.placeholder='Search in the site...'">
    </form>
</div>